.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  0% {
    background-color: hsl(200, 20%, 95%);
  }
}

@mixin skeleton-style($w, $h) {
  width: $w;
  height: $h;
  margin-bottom: 5px;
  border-radius: 5px;
}
