@import "../../../sass/variables";
@import "../../../sass/colors";

.wrapper {
  margin-top: 50px;
}

.empty-list-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @media (max-width: map-get($breakpoints, "md")) {
    img {
      width: 50%;
    }
  }

  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    $cyan,
    $cyan 1px,
    $white 1px,
    $white 25px
  );
}

.filter-icon {
  top: 10px;
  left: 10px;
  position: fixed;
  cursor: pointer;
  background-color: $gray;
  padding: 5px;
  border-radius: 0 0 $base-radius;
  transition: all 0.5s;
}

.filter-icon:hover {
  background-color: $cyan-dark;
}

mat-sidenav-container {
  mat-sidenav,
  mat-sidenav-content {
    padding: 16px;
  }

  mat-sidenav {
    position: fixed;
    width: 300px;
    background-color: $gray;
  }

  mat-sidenav-content {
    min-height: 100vh;
  }
}
