@import "../../../sass/variables";
@import "../../../sass/colors";

.wrapper {
  margin-top: 50px;
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;

  width: calc(100% - 20px);
}

.empty-list-wrapper {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

  @media (max-width: map-get($breakpoints, "md")) {
    img {
      width: 50%;
    }
  }

  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    $cyan,
    $cyan 1px,
    $white 1px,
    $white 25px
  );
}

mat-sidenav-container {
  mat-sidenav,
  mat-sidenav-content {
    padding: 16px;
  }

  mat-sidenav {
    position: fixed;
    width: 300px;
    background-color: $gray;
  }

  mat-sidenav-content {
    min-height: 100vh;
  }
}
