@import "../../../sass/variables";
@import "../../../sass/colors";

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: 20px;

  img {
    top: 60px;
    position: absolute;
  }
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;

  width: calc(100% - 20px);
}

.button-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    $cyan,
    $cyan 0.5px,
    $white 0.5px,
    $white 25px
  );
}
