<div class="nav-icons" [dir]="'dir' | translate">
  <span></span>
  <app-lang-button />
</div>


<div class="logo">
  <img src="../../../assets/svgs/logo-big.svg" title="logo" />
</div>

<div class="button-container">
  <app-button [title]="'buttons.home' | translate"
    [btnStyle]="{minWidth: '300px', minHeight: '50px', borderRadius: '100px'}" routerLink="/flight-results" />
</div>

<!--
    ** Your are not asked to do anything here
    ** just initilize your app here
    ** make a button that routes me to the flight result components

-->