@import "../../../sass/variables";
@import "../../../sass/colors";

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  margin-inline: 20px;

  img {
    top: 60px;
    position: absolute;
  }
}

.button-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #e5e5f7;
  background: repeating-linear-gradient(
    45deg,
    $cyan,
    $cyan 0.5px,
    $white 0.5px,
    $white 25px
  );
}

.button-18 {
  align-items: center;
  background-color: $cyan;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  min-height: 50px;
  min-width: 300px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: $gray;
  color: #ffffff;
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
