@import "../../../../sass/variables";
@import "../../../../sass/colors";

.flight-card {
  flex-wrap: wrap-reverse;
  align-items: center;
  border: 1px solid $cyan;
  border-radius: 0 0 0 $base-radius;
  margin-bottom: 20px;

  &__info {
    @media (max-width: map-get($breakpoints, "md")) {
      border-right: none;
      border-top: 1px solid $cyan;
    }

    &__data {
      display: flex;
      justify-content: space-between;
      margin: 10px 10px 20px 10px;

      &__airline {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-logo {
          width: 50px;
          margin-right: 20px;
        }

        &-info h3 {
          font-size: map-get($fontSizes, "md");
          font-weight: map-get($fontWeights, "medium");
          margin-bottom: 10px;
        }

        &-info p {
          font-size: map-get($fontSizes, "md");
          color: $gray;
        }
      }

      &__details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        min-width: 200px;

        @media (max-width: map-get($breakpoints, "md")) {
          margin-top: 20px;
        }

        &__times {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          font-size: map-get($fontSizes, "md");

          &-duration {
            color: $gray;
            font-size: map-get($fontSizes, "sm");

            img {
              margin-right: 2.27px;
            }
          }
        }

        &__time-line {
          display: flex;
          align-items: center;
          margin-inline: 0.7rem;

          &-circle {
            width: 10px;
            height: 10px;

            border-radius: 50%;
            border: 1px solid $gray;
          }

          &-plane {
            margin-inline: 5px;
          }

          &-line {
            height: 1px;
            flex-grow: 2;
            background-color: $gray;
          }
        }

        &__route {
          display: flex;
          justify-content: space-between;
          margin-inline: 0.4rem;
          font-size: map-get($fontSizes, "md");

          &-stop {
            color: $gray;
            font-size: map-get($fontSizes, "sm");
          }
        }
      }
    }
  }

  &__price {
    text-align: center;
    font-size: 1.2rem;
    color: $black;
    margin-block: 20px;

    strong {
      font-size: 1.5rem;
    }

    p:last-child {
      font-size: 0.8rem;
      color: $gray;
    }
  }
}
