<div class="main-logo">
  <img src="../../../assets/svgs/logo-big.svg" title="RoundPixel Logo" />
</div>

<article class="flight-details container">
  <section class="flight-details__top row between">
    <div class="flight-details__top__airline col-12 col-5-md ">
      <img src="../../../assets/images/QR.png" title="Airline Logo" class="flight-details__top__airline__logo" />
      <div class="flight-details__top__airline__data">
        <p class="flight-details__top__airline__data__name">Qatar Airways (Q.C.S.C.)</p>
        <p class="flight-details__top__airline__data__code">Airline Code: QR </p>
        <p class="flight-details__top__airline__data__flight-num"> Flight Number: 1302</p>
        <p class=" flight-details__top__airline__data__refund">This flight is <strong>refundable</strong></p>
      </div>
    </div>

    <div class="flight-details__top__flight-info col-12 col-6-md col-5-md">
      <div class="flight-details__top__flight-info__timing">
        <p class="flight-details__top__flight-info__timing__date">Thu, 24 Oct</p>
        <p class="flight-details__top__flight-info__timing__time">JED06:45</p>
        <p class="flight-details__top__flight-info__timing__airline">King Abdulaziz International Airport</p>
      </div>

      <img src="../../../assets/svgs/plane-2.svg" title="Plane Logo" width="40"
        class="flight-details__top__flight-info__plane" />

      <div class="flight-details__top__flight-info__timing">
        <p class="flight-details__top__flight-info__timing__date-rev">Thu, 24 Oct</p>
        <p class="flight-details__top__flight-info__timing__time-rev">JED06:45</p>
        <p class="flight-details__top__flight-info__timing__airline-rev">King Abdulaziz International Airport</p>
      </div>
    </div>
  </section>

  <div class="flight-details__divider"></div>

  <section class="flight-details__bottom row between gap-5">
    <div class="flight-details__bottom__dest col-12 col-4-md col-3-lg">
      <div class="flight-details__bottom__dest__times">
        <div class="flight-details__bottom__dest__times__container">
          <div class="flight-details__bottom__dest__times__container__time">20:55</div>
          <div class="flight-details__bottom__dest__times__container__code">CAI</div>
        </div>

        <div class="flight-details__bottom__dest__times__duration">
          <img src="../../../assets/svgs/time.svg" title="Time Icon"
            class="flight-details__bottom__dest__times__duration__icon" />
          <p class="flight-details__bottom__dest__times__duration__time">06h 55m</p>
        </div>

        <div class="flight-details__bottom__dest__times__container">
          <div class="flight-details__bottom__dest__times__container__time">20:55</div>
          <div class="flight-details__bottom__dest__times__container__code">CAI</div>
        </div>
      </div>

      <div class="flight-details__bottom__dest__time-line">
        <div class="flight-details__bottom__dest__time-line__circle"></div>
        <div class="flight-details__bottom__dest__time-line__line"></div>
        <img src="../../../assets/svgs/plane-3.svg" title="Plane Logo"
          class="flight-details__bottom__dest__time-line__plane" />
        <div class="flight-details__bottom__dest__time-line__line"></div>
        <div class="flight-details__bottom__dest__time-line__circle"></div>
      </div>

      <div class="flight-details__bottom__dest__airports">
        <p class="flight-details__bottom__dest__airports__airport-name">Cairo Airport</p>
        <div class="flight-details__bottom__dest__airports__info">
          <p class="flight-details__bottom__dest__airports__info__class">Economy</p>
          <p class="flight-details__bottom__dest__airports__info__line"></p>
          <p class="flight-details__bottom__dest__airports__info__flight-num">1302</p>
        </div>
        <p class="flight-details__bottom__dest__airports__airport-name">Cairo Airport</p>
      </div>
    </div>

    <div class="flight-details__bottom__note col-12 col-7-md col-8-lg">
      <p class="flight-details__bottom__note__title">Note:</p>
      <ul class="flight-details__bottom__note__list">
        <li>The add-on service charges, convenience fee, and the
          discount you have received using a coupon code are non-refundable.</li>
        <li>Airlines stop accepting cancellation/change requests 4
          - 72 hours before flight departure, depending on the airline. The airline fee is based on an automated
          interpretation of airline fare rules. Rehlat doesn't guarantee the accuracy of this information.</li>
        <li>The change/cancellation fee may also vary based on
          fluctuations in currency conversion rates. For the exact cancellation/change fee, please call us at our
          customer care number. </li>
      </ul>
    </div>
  </section>
</article>

<div class="container btn-wrapper">
  <button class="btn">Book Your Ticket</button>
</div>