@import "../../../sass/variables";
@import "../../../sass/colors";

.empty-list-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 7%;
  @media (max-width: map-get($breakpoints, "md")) {
    img {
      width: 70%;
    }
  }
}

.nav-icons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 10px;
  left: 10px;

  width: calc(100% - 20px);
}

.main-logo {
  display: flex;
  justify-content: center;

  margin-top: 60px;
  margin-inline: 20px;
}

.flight-details {
  border: 1px solid $cyan;

  margin-top: 60px;
  margin-bottom: 20px;
  padding: 20px;

  &__top {
    &__airline {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 20px;

      &__logo {
        width: 80px;
      }

      &__data {
        display: flex;
        flex-direction: column;
        gap: 10px;

        color: $gray;
        &__name {
          color: $black;
          font-size: map-get($fontSizes, "lg");
          font-weight: map-get($fontWeights, "bold");
        }
      }
    }
    &__flight-info {
      display: flex;
      justify-content: space-around;

      @media (max-width: map-get($breakpoints, "md")) {
        margin-top: 40px;
      }

      &__timing {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        gap: 10px;
        &__date,
        &__date-rev {
          color: $gray;
          font-size: map-get($fontSizes, "sm");
        }
        &__time,
        &__time-rev {
          color: $black;
          font-size: map-get($fontSizes, "lg");
          font-weight: map-get($fontWeights, "bold");
        }
        &__airline,
        &__airline-rev {
          color: $gray;
          max-width: 150px;
        }

        &__date-rev,
        &__time-rev,
        &__airline-rev {
          text-align: right;
          max-width: 250px;
        }
      }

      &__plane {
        color: $gray;
        display: flex;
        flex-direction: column;
        align-items: center;
        strong {
          color: $black;
          font-size: map-get($fontSizes, "xl");
        }
        gap: 10px;
      }
    }
  }

  &__divider {
    height: 1px;
    margin-block: 40px;
    background-color: $cyan;
  }

  &__bottom {
    &__dest {
      display: flex;
      justify-content: space-around;
      gap: 20px;

      @media (max-width: map-get($breakpoints, "md")) {
        border-bottom: 1px solid $cyan;
        padding-bottom: 40px;
        margin-bottom: 40px;
      }
      &__times {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        &__container {
          display: flex;
          flex-direction: column;
          align-items: center;

          &__time {
            color: $black;
          }
          &__code {
            color: $gray;
          }
        }

        &__duration {
          display: flex;
          gap: 2px;
          color: $gray;
          font-size: map-get($fontSizes, "sm");
        }
      }

      &__time-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__circle {
          width: 10px;
          height: 10px;

          border-radius: 50px;
          border: 1px solid $gray;
        }
        &__plane {
          padding: 5px;
        }
        &__line {
          width: 1px;
          min-height: 50px;

          background-color: $cyan;
        }
      }

      &__airports {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $black;
        max-width: 150px;

        &__info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          color: $gray;
          font-size: map-get($fontSizes, "sm");

          &__line {
            height: 1px;
            width: 100%;
            background-color: $cyan;
          }
        }
      }
    }

    height: 100%;
    &__note {
      font-size: map-get($fontSizes, "sm");
      color: $gray;

      &__list {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
  }
}

.btn-wrapper {
  padding: 0;
  margin-bottom: 40px;
}
