@import "../../../../sass/variables";
@import "../../../../sass/colors";

.navbar {
  position: absolute;
  padding: 12.07px;
  z-index: 100;

  display: flex;
  justify-content: center;

  background-color: map-get($colors, "main");
}
