@import "../../../../sass/variables";
@import "../../../../sass/colors";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 20px 40px;

  p {
    font-weight: map-get($fontWeights, "bold");
    text-align: center;

    span {
      color: #90a349;
    }
  }
}
